/*
--------------------------------------------------------------------------------
*/
.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue; 
}

.yellow {
    border: 1px solid yellow;
}

.green {
    border: 1px solid green;
}

.orange {
    border: 1px solid orange;
}

.purple {
    border: 1px solid purple;
}

.black {
    border: 1px solid black;
}

.white {
    border: 1px solid white;
}

.gray {
    border: 1px solid gray;
}

/*
--------------------------------------------------------------------------------
*/

body {
    background-image: url( ../images/marbre.jpg );
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
    background-color: #99CC99;
}

.oo-main {
    width: 600px;
    padding: 0px;
}